<ion-button color="medium" (click)="volver()" class="button-volver text-dark">
  <ion-title class="titulo">Volver</ion-title>
</ion-button>

<ion-button color="medium" (click)="sacarFotoFea()"   class="button-custom text-dark">
  <ion-title class="titulo">Sacar Foto de cosas Feas</ion-title>
</ion-button>

<ion-button color="medium" (click)="verFotos()"  class="button-custom text-dark">
  <ion-title class="titulo">Ver listado de fotos Feas</ion-title>
</ion-button>

<ion-button color="medium" class="button-custom text-dark" (click)="verGraficos()"> 
  <ion-title>
    Ver Gráficos de fotos Feas
  </ion-title>
</ion-button>
