.custom-item {  
    //font-size: 1.2em;
    --background: #A2CDD2;
    border-radius: 40px;
    width: 98vw !important;
   // height: auto;
 //   height: 30vh !important;
 margin: 5px;
 padding-right: 5px !important;
 --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}
.content{
    height: 95vh;
    margin-top: 5px !important;
}


ion-button.button-volver {
    //  height: 10% !important;
    height: 43px !important;
     // --background:  #2c921cf7;
   //   height: 46% !important;
    //  height: 50%;
      width: 96vw;
      margin: 5px;
      //--color: blue !important;
    
    color: black;
      --border-radius: 50px !important; //ES AL BOTON
      --border-color: #a01717f7;
      --border-style: solid;
      --border-width: 3px;
    }

.titulo{
    font-weight: bold !important;
    text-align: center !important;
    color: white;
    background-color: #eb445a;
    margin-top: 0px;
    margin: 0px !important;
    padding: 5px;
    font-size: 1.5em;
}
ion-button.boton {
   // padding: 3px !important;
    --background: rgb(0, 255, 132) !important;
     --border-radius: 50px !important; 
     width: 50px;
     height: 50px;
}

.visible{
   display: none !important;
}

.icono{
//padding: 3px !important;
}