  <div style="height: 100vh; " color="success">
      <ion-button class="button-salir"  color="medium"  id="btn-logout" (click)="logout()">
        <ion-title class="font-weight-bold text-light" style="font-size: 2em;">SALIR</ion-title>
      </ion-button>
   
    <!-- <ion-button expand=""   fill="" (click)="sacarFotoLinda()" class="button-custom2 text-dark">
      <ion-title class="titulo">TOMAR FOTO LINDA</ion-title>
    </ion-button>
    
    <ion-button expand=""  fill="" (click)="sacarFotoFea()" class="button-custom2 text-dark">
      <ion-title class="titulo">TOMAR FOTO FEA</ion-title>
    </ion-button> -->
    <!-- <ion-button expand=""  fill="" (click)="leerFoto()" class="button-custom2 text-dark">
      <ion-title class="titulo">LEER FOTO</ion-title>
    </ion-button>
     -->

    <ion-button (click)="cosasLindas()"   color="medium"  class="button-custom text-dark">
      <ion-title class="titulo">Cosas Lindas</ion-title>
    </ion-button>
    
    <ion-button (click)="cosasFeas()"  color="medium"   class="button-custom text-dark">
      <ion-title class="titulo">Cosas Feas</ion-title>
    </ion-button>

    <!-- <img [src]="ruta"> -->  
</div> 