  <div style="height: 100vh; " color="success">
      <ion-button class="button-salir"  color="medium"  id="btn-logout" (click)="logout()">
        <ion-title class="font-weight-bold text-light" style="font-size: 2em;">SALIR</ion-title>
      </ion-button>
   
    <!-- <ion-button expand=""   fill="" (click)="sacarFotoLinda()" class="button-custom2 text-dark">
      <ion-title class="titulo">TOMAR FOTO LINDA</ion-title>
    </ion-button>
    
    <ion-button expand=""  fill="" (click)="sacarFotoFea()" class="button-custom2 text-dark">
      <ion-title class="titulo">TOMAR FOTO FEA</ion-title>
    </ion-button> -->
    <!-- <ion-button expand=""  fill="" (click)="leerFoto()" class="button-custom2 text-dark">
      <ion-title class="titulo">LEER FOTO</ion-title>
    </ion-button>
     -->

    <ion-button (click)="cosasLindas()"   color="medium"  class="button-custom text-dark" style="flex-direction: column !important;">
      <div>

        <div>
          
          <ion-title style="display: block;" class="titulo">Cosas Lindas</ion-title>
        </div>
        <div>
          
          <img style="display: block; margin-top: 15px; border-radius: 10px;"  height="200px" src="assets/fotolinda.jpg">
        </div>
      </div>
    </ion-button>
    
    <ion-button (click)="cosasFeas()"  color="medium"   class="button-custom text-dark">
      <div>

        <div>
          
          <ion-title style="display: block;" class="titulo">Cosas Feas</ion-title>
        </div>
        <div>
          
          <img style="display: block; margin-top: 15px; border-radius: 10px;" height="200px" src="assets/fotoFea.jpg">
        </div>
      </div>
    </ion-button>

    <!-- <img [src]="ruta"> -->  
</div> 